---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import SelectList from "@components/ui/selectList.astro";
import Contact from "./contact.astro";
import ContainerList from "@components/ui/containerList.astro";

---

<Layout title="">
  <Container>
    <Hero title="Marketing website done with Astro"/>
    <div class="my-10 mb-24" >
      <SelectList />
      <ContainerList />
    </div>
    <Features />
    <Logos />
    <Cta />
  </Container>
</Layout>
