---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import { slide } from 'astro:transitions';
const { title } = Astro.props;
---


<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
  transition:name="hero" transition:animate={slide({ duration: '2s' })}
  >
  
  <div 
  class="py-6 md:order-1 hidden md:block"
 
  >
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      { title ? title : "Astroship" }
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create
      any website with this starter.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        id="btn-1"
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" >
          <path fill="currentColor" fill-rule="evenodd" d="m12.012 5.572l-1.087-1.087a5.5 5.5 0 1 0-7.778 7.778l8.839 8.839l.002-.002l.026.026l8.839-8.839a5.5 5.5 0 1 0-7.778-7.778zm-.024 12.7l4.936-4.937l1.45-1.4h.002l1.063-1.062a3.5 3.5 0 1 0-4.95-4.95L12.013 8.4l-.007-.007h-.001L9.511 5.9a3.5 3.5 0 1 0-4.95 4.95l2.54 2.54l.001-.003z" clip-rule="evenodd" />
        </svg>
        Astro Build
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/rstringa/Astro4"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
<script>
  function init() {
   const btn = document.getElementById("btn-1");
   btn?.addEventListener("click", (e) => {
     e.preventDefault();
     btn?.classList.toggle("animate-pulse");
   })
 }
 document.addEventListener('astro:after-swap', init);
 init();
</script>